<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Job Search</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/homestyle.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
	 rel="stylesheet" />
</head>

<body>
	<img src="{{url_for('static', filename=img_file)}}">
	<h1 id="title">Job Search</h1>
  <div></div>
	<form action="/report" method="get">
		<input placeholder='Search for a job' required name ="word"/>
    <button><i class="fas fa-search fa-lg"></i></button>
  </form>
  <script
      src="https://kit.fontawesome.com/f97d0d047b.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>